packaging
triton
pytest 
chardet 
yacs 
termcolor
submitit 
tensorboardX
fvcore
seaborn
tensorboard
ninja==1.13.0
einops==0.6.0
numba
torch_dct
torchprofile
numpy==1.26.4
scipy==1.15.3
opencv-python==4.8.0.76
Cython==0.29.33
pycocotools==2.0.10
timm==0.4.12
openmim==0.3.9
